
@{
    ViewBag.Title = "ConfirmEmail";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<h2>Your Email has been confirmed successfully</h2>


