@{
    ViewBag.Title = "ConfirmEmail";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<h2>Your Email has been confirmed successfully</h2>
<p>Please login using your email and provided password</p>